<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Реєстрація</h1>
    <form method="post">
        {% csrf_token %}
        <p style="color: rgb(255, 0, 0);">{{error_text}}</p>
        <p><input type="text" placeholder="Логін" name="username" value="{{username}}" required></p>
        <p><input type="password" placeholder="Пароль" name="password" value="{{password}}" required></p>
        <p><input type="password" placeholder="Підтвердження паролю" name="password_confirm" value="{{password_confirm}}" required></p>
        <p><input type="submit" value="Реєстрація"></p>
    </form>
    <a href="{% url 'login_form' %}">У вас є аккаунт?</a>
</body>
</html>
