<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Комментарі
    </h1>
    <!-- При помощи цикла фор перебераем все посты и отображаем каждый пост -->
    {% for post in list_posts %}
    <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>
    <img src="{{ post.image.url }}" alt="">
    <p>Автор: {{ post.author }}</p>
    <hr>
    {% endfor %}
    <!-- создаем форму для создания поста-->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Створити пост</h3>
        <p><input type="text" placeholder="Заголовок" name="title" required></p>
        <p><textarea name="content" cols="30" rows="10" placeholder="Контент" required style="resize: none;"></textarea></p>
        <p><input type="file" name='image' required></p>
        <!-- если пользователь авторизирован -->
        {% if request.user.is_authenticated %}
        <!-- Отображаем кнопку создания поста  -->
            <button>Створити</button>
            {% else %}
        <!-- если не авторизирован отображаем ссылку на страницу с регистрацией -->
            <p><a href="{% url 'login_form' %}">Увійдіть, щоб створити пост</a></p>
        {% endif %}

    </form>
</body>

</html>