{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>DefectFieldTeam</title>
</head>
<body>
    <div class="mainDiv">
        <div class="HeaderDiv">
            <header>
                <img class="LogoImage" src="{% static 'img/logo.png' %}" alt="Sorry, but your picture has not loaded :(">
            </header>
        </div>
    </div>
</body>
</html>