* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

html,
body,
.block-content {
    width: 100%;
    height: 100%;
}

.block {
    display: flex;
    /* Нет, дисплею надо флексить */
    align-items: center;
    justify-content: center;
    background: linear-gradient(320deg, #eb92be, #ffef78, #63c9b3);
}

.block-reg {
    box-shadow: 0 0 30px rgba(35, 35, 35, 0.5);
    width: 400px;
    height: 600px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);

}

.block-input-reg {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input {
    padding: 10px;
    width: 80%;
    height: 10vh;
    border-radius: 15px;
    position: relative;
    margin: 5% auto;
    border: none;
    /* background: rgb(255, 255, 255); */
    background: linear-gradient(153deg, rgba(255, 255, 255, 1) 0%, rgba(194, 194, 194, 1) 27%, rgba(255, 255, 255, 1) 49%, rgba(195, 195, 195, 1) 78%, rgba(255, 255, 255, 1) 100%);
    box-shadow: 0, 0, 10px, 10px, rgba(0, 0, 0, 0.3);
}

.button-reg {
    position: relative;
    display: block;
    width: 150px;
    height: 40px;
    margin: 25px auto;
}

.label-input {
    position: relative;
    margin-top: 10px;
    width: 90%;
    left: 10%;
    text-align: left;
}

.block-button-reg {
    position: relative;
    width: 100%;
}